/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/* .container{
      width:100%;
  } */
/* Sticky footer styles
  -------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #messageInput {
        width: 70%;
    }
}
#messageBox {
    height: 65vh;
    background-color: #8467d449;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #343a40;
    transition: 0.5s;
    z-index: 1;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #e7141426;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0px;
}

.active-cont #menu-btn {
    background-color: #343a40;
}

#menu-btn {
    background-color: #dbd5ca;
    color: #fff;
    margin-left: 0px;
    margin-right: 10px;
}

#chat-wrapper {
    z-index: 0;
    min-height: 80vh;
}
